/*--------------------------------------------------------------------
 
Floating Décor

by suiomi.com

--

[ Change Log ]

Version 2 - 12th January 2021
- Hosting changed.
- Fixed objects not showing up.

--

This work is protected under the Terms of Use available at
suiomi.com/legal

--------------------------------------------------------------------*/
.incidentia-obiecti{position:fixed;top:0;bottom:0;left:0;right:0;width:100%;overflow:hidden;z-index:-1}.obiectus-ferenti{position:fixed;top:0;left:0;bottom:0;width:100%;transform-style:preserve-3d;}.obiectus-ferenti div{position:absolute;top:0;left:0;background-size:100%;transform-style:preserve-3d;backface-visibility:visible;}
