iframe.tmblr-iframe{top:2px!important;right:0!important;padding-right:50px!important;opacity:1!important}
html{font-size:var(--fontsize);}
body{background:var(--background);color:var(--text);font-family:lato, sans-serif;}
main{margin:10vh auto;width:21vw;}
a{color:var(--accent);}
a:hover{color:var(--text);}
b{font-weight:700;color:var(--text);}
i{font-style:italic;color:var(--accent);}
small{font-size:.8rem;}
big{font-size:1.3rem;}
.if-no-following,.if-no-likes,.if-no-posts,.if-no-results{margin:25px auto;text-align:center;}

[photoset-layout]{grid-gap:1px;}

::-webkit-scrollbar{height:0;width:5px;background:var(--background);}
::-webkit-scrollbar-thumb:vertical{height:auto;width:4px;background:var(--accent);border-radius:50px;}
::-webkit-scrollbar:horizontal{display:none;}

#s-m-t-tooltip{font-family:inherit;margin:10px 0 0 10px;text-transform:lowercase;z-index:9999;background:var(--background);color:var(--accent);padding:6px 15px;box-shadow:0 6px 10px -6px var(--shadow);}

article.entry{background:var(--background);margin-bottom:10vh;width:40vw;position:relative;}

article.entry ul,article.entry ol{counter-reset:li 0;list-style:none;padding-left:10px;}
article.entry ul li,article.entry ol li{list-style:none;margin:5px 0;}
article.entry ul li:before,article.entry ol li:before{color:var(--accent);margin-right:10px;vertical-align:middle;}
article.entry ul li:before{content:'▪';font-size:10px;}
article.entry ol li:before{content:counter(li);counter-increment:li;}

article.entry blockquote{margin:0;margin-top:-3px;}
article.entry a.tumblr_blog{background:var(--background);color:var(--accent);padding:6px 15px;box-shadow:0 6px 10px -6px var(--shadow);margin-bottom:10px;display:inline-block;}
article.entry img.tumblr_avatar{float:left;width:30px;box-shadow:0 6px 8px -4px var(--shadow);margin-right:10px;}
article.entry .caption{background:var(--posts);padding:40px;}

article.entry .post-title,article.entry .post-title a{color:var(--accent);line-height:20px;font-size:1.2rem;text-transform:capitalize;font-weight:700;margin-bottom:20px;}

article.entry .post-info{margin-top:10px;background:var(--posts);padding:20px;}
article.entry .post-info .share-info a{line-height:20px;margin:0;}
article.entry .post-info .share-info a img{width:20px;float:left;margin-right:10px;box-shadow:0 6px 8px -4px var(--shadow);}
article.entry .post-info a{color:var(--text);margin-left:15px;}
article.entry .post-info a:hover{color:var(--accent);}
article.entry .post-info a i.fa{color:var(--text);transition:linear all .3s;}
article.entry .post-info a:hover i.fa{color:var(--accent);}
article.entry .post-info .like_button{display:inline-block;position:relative;}
article.entry .post-info .like_button iframe{height:100%;left:0;opacity:.0E-6;position:absolute;top:0;width:100%;}
article.entry .post-info .like_button:before{content:'\f004';font-family:fontawesome;position:relative;}

article.entry .categories{text-align:center;margin-top:20px;font-style:italic;}
article.entry .categories a{color:var(--shadow);margin:0 10px;font-size:.9rem;}
article.entry .categories a:hover{color:var(--accent);}

article.entry .post-notes{height:350px;overflow:auto;margin-top:20px;}
article.entry .post-notes a{border:0;}
article.entry .post-notes img{display:none;}
article.entry .post-notes ol,article.entry .post-notes ul{margin:0;padding-left:20px;}
article.entry .post-notes ol.notes li{list-style:none;padding:5px;}
article.entry .post-notes ol.notes li img{list-style:none;margin-bottom:-10px;margin-right:3px;}
article.entry .post-notes .retags{display:none;}
article.entry .post-notes li.like:before,article.entry .post-notes li.reblog:before,article.entry .post-notes li.reply:before,article.entry .post-notes li.original_post:before{font:10px fontawesome!important;font-weight:900;left:-10px;margin-right:0;position:relative;vertical-align:middle;}
article.entry .post-notes li.like:before{content:'\f004';}
article.entry .post-notes li.reblog:before{content:'\f021';}
article.entry .post-notes li.reply:before{content:'\f086';}
article.entry .post-notes li.original_post:before{content:'\f007';}

article.entry .quote-post.quote-text{font-style:italic;font-size:2rem;margin-bottom:20px;}

article.entry .chat-post,article.entry .chat-post ol,article.entry .chat-post ul{list-style:none;margin:0;padding:0;}
article.entry .chat-post li:before{content:''!important;margin:0;}
article.entry .chat-post li{background:var(--accent);padding:20px;color:var(--background);}
article.entry .chat-post.person{font-weight:900;padding:0;}

article.entry .ask-post.question{background:var(--accent);color:var(--background);font-style:italic;letter-spacing:.5px;text-align:justify;padding:40px;margin-bottom:40px;}
article.entry .ask-post.asker{line-height:25px;margin-bottom:20px;}
article.entry .ask-post.asker img{margin-right:10px;width:25px;float:left;box-shadow:0 6px 8px -4px var(--shadow);}
article.entry .ask-post.answer{padding:20px 40px;background:var(--posts);}

article.entry .audio-post.audio{display: inline-block;margin: 20px;position: relative}
article.entry .audio-post.album-cover{border-radius: 50%;position: absolute;width: 79px}
article.entry .audio-post.album-cover img{border-radius: 50%;height: auto;width: 100%}
article.entry .audio-post.player{left: -1px;position: absolute;top: 2px}
article.entry .audio-post.audio-details{display: inline-block;line-height: 20px;margin-left: 90px;min-height: 85px;width: 100%}
article.entry .audio-post.audio-wrapper.first{background: white;border-radius: 50%;height: 20px;left: 20px;-moz-transition: opacity .7s ease-in-out;opacity: .4;padding: 10px;position: absolute;top: 20px;transition: opacity .7s ease-in-out;-webkit-transition: opacity .7s ease-in-out;width: 20px}
article.entry .audio-post.audio-wrapper.first:hover{opacity: 1}
article.entry .audio-post.audio-wrapper.second{height: 19px;overflow: hidden;position: relative;width: 19px}

article.entry .audio-post .tumblr_audio_player{height: 90px;margin: 1px !important;-moz-transform: scale(0.60,0.60);-moz-transform-origin: top left;-ms-transform: scale(0.60,0.60);-ms-transform-origin: top left;-o-transform: scale(0.60,0.60);-o-transform-origin: top left;transform: scale(0.60,0.60);transform-origin: top left;width: 270px}

aside.sidebar{left:18vw;position:fixed;width:16vw;background:var(--posts);}
aside.sidebar .sidebar-header{z-index:-1;position:relative;height:180px;overflow:hidden;}
aside.sidebar .sidebar-details{background:var(--background);margin:20px;box-shadow:0 8px 10px -10px var(--shadow);height:70px;margin-top:-40px;}
aside.sidebar .sidebar-details .avatar{float:left;}
aside.sidebar .sidebar-details .avatar img{width:70px;height:70px}
aside.sidebar .sidebar-details .titles{padding:19px 10px 10px 80px;font-size:.9rem;}
aside.sidebar .sidebar-details .titles .main-title{font-weight:700;}
aside.sidebar .sidebar-details .titles .second-title{font-style:italic;}
aside.sidebar .box .box-body{padding:20px;text-align:center;line-height:150%;font-size:.9rem;}
aside.sidebar .box nav{text-align:center;padding:20px;}
aside.sidebar .box nav .row{display:flex;justify-content:space-evenly;margin-bottom:4px;}
aside.sidebar .box nav .row a{display:table-cell;background:var(--background);width:40%;padding:10px;box-shadow:0 7px 10px -10px var(--shadow);font-size:.9rem;text-transform:lowercase;color:var(--text);}
aside.sidebar .box nav .row a:hover{color:var(--accent);}

section.browse{width:40vw;text-align:center;}
section.browse a{margin:0 10px;color:var(--shadow);}
section.browse span.current_page{margin:0 10px;font-weight:700;color:var(--accent);}

@media only screen and (max-width: 1024px) and (min-width: 993px) {
aside.sidebar{left:12vw;width:27vw;}
main{width:12vw;}
}
@media only screen and (max-width: 1366px) and (min-width: 1025px) {
aside.sidebar{left:15vw;width:21vw;}
}
@media only screen and (max-width: 1440px) and (min-width: 1367px) {
aside.sidebar{left:15vw;width:21vw;}
}
